{% assign handle = 'product-bundles-mfrw3rzn' %}
{% assign type = 'product-bundles' %}
{% assign bundle = shop.metaobjects[type][block.settings.shortcode] %}

{{ 'style.css' | asset_url | stylesheet_tag }}

{% if bundle %}
  <div class="bundle">
    <p class="bundle-name">{{ bundle.bundle_name }}</p>
    <p class="bundle-title">{{ bundle.bundle_title }}</p>
    <p class="bundle-description">{{ bundle.description }}</p>
    <p class="discounted-price">{{ bundle.discount }}% Discount</p>

    <div class="products">
      {% for product in bundle.products.value %}
        <div class="product">
          <a href="{{ product.url }}">
            <img
              class="product-image"
              src="{{ product.featured_image | image_url: width: 200, height: 200 }}"
              alt="{{ product.featured_image.alt }}"
              loading="lazy"
              height="200"
              width="200"
            >
          </a>
          <a class="product-name" href="{{ product.url }}">
            <p>{{ product.title }}</p>
          </a>
          <p class="product-price">{{ product.price | money }}</p>
        </div>
      {% endfor %}
    </div>

    {{  }}

    <div class="add-to-cart-button">
      <p class="discounted-price">
        <span class="original-price">$2500</span> $2000 only
      </p>
      <button>Buy Now</button>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Product Bundle",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "shortcode",
      "label": "Shortcode",
      "info": "You can get the shortcode in Product Bundles app."
    }
  ]
}
{% endschema %}
